.controls {
    width: 100%;
    border: 1px solid #ff3c00;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #fff1f1;
    font-size: 14px;
    font-weight: bold;
}

.form-edit {
    width: 400px;
    height: 340px;
    background: #302c2c;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px #111111;
    padding: 20px 30px;
    border-top: 4px solid #dbd1d1;
    color: rgb(255, 102, 0);
}
.form-edit p{
    text-align: center;
    color: azure;
}
