

.contenedor-1{
    display: flex;
    margin-top: 120px;
    position: relative;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    
}

.img-0{
    width: 300px;
    height: 300px;
    
}

.titulo{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
}

.imagen-container{
    position: relative;
}

.fila-superior{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;

}
.imagen-inferior{
    grid-column: 1/5;
    
}
.imagen-inferior .titulo{
    text-align: justify;
    text-indent: 100px;
 
}

.imagen-container:hover .titulo {
    opacity: 80;
    color: rgb(248, 193, 12);
  }

